.rocketMonkeySVG {
  background: #000;
  width: 100%;
  height: 100%;
}
.satellite:hover .bannana-light path {
  fill: #FFF44F;
}
.satellite:hover .bannana-dark path {
  fill: #FFE135;
}
.jetBubble {
  animation-name: bubble;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  -ms-transform-origin: 20% 40%; /* IE 9 */
  -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
  transform-origin: 20% 40%;
}
.jetBubble.odd {
  animation-name: bubbleOdd;
  animation-delay: 1s;
  animation-duration: 2s;
}

@keyframes bubble {
  from { transform: none; }
  50% { transform: scale(1.4); }
  to { transform: none; }
}
@keyframes bubbleOdd {
  from { transform: none; }
  50% { transform: scale(1.4); }
  to { transform: none; }
}

.astronaut {
  animation-name: flight;
  animation-delay: 0s;
  animation-duration: .15s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  -ms-transform-origin: 20% 40%; /* IE 9 */
  -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
  transform-origin: 20% 40%;
}

@keyframes flight {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, 5px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.pulse1 {
  animation-delay: 0s;
  animation-duration: 1s;
}

.pulse2 {
  animation-delay: .25s;
  animation-duration: 1s;
}
.pulse3 {
  animation-delay: .5s;
  animation-duration: 1s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

.star {
  animation-name: star;
  animation-delay: 0s;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes star {
  0% {
    transform: translate3d(0px, 0, 0px);
  }
  100% {
    transform: translate3d(0px, 1450px, 0px);
  }
}

.jibbers {
  animation-name: jibbersOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transform: translate3d(100px, 0, 0px);
}
.jibbers-wrapper:hover .jibbers {
  animation-name: jibbers;
  animation-delay: 0s;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -ms-transform-origin: 100%; /* IE 9 */
  -webkit-transform-origin: 100%; /* Chrome, Safari, Opera */
  transform-origin: 100%;
}

@keyframes jibbers {
  0% {
    transform: translate3d(100px, 0, 0px);
  }
  1% {
    transform: translate3d(0px, 0, 0px);
  }
  99% {
    transform: translate3d(0px, 0, 0px);
  }
  100% {
    transform: translate3d(100px, 0, 0px);
  }
}
@keyframes jibbersOut {
  0% {
    transform: translate3d(0px, 0, 0px);
  }
  100% {
    transform: translate3d(100px, 0, 0px);
  }
}

.flame {
  transform: scale(0);
}
.jibbers-wrapper:hover .flame {
  animation-name: flame;
  animation-delay: 2s;
  animation-duration: 12s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  -ms-transform-origin: 100% 80%; /* IE 9 */
  -webkit-transform-origin: 100% 80%; /* Chrome, Safari, Opera */
  transform-origin: 1200px 90px;
}

@keyframes flame {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  60% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes flameOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


.satellite {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: spin;
  iteration-count: infinite;
  animation-timing-function: linear;
  -ms-transform-origin: 50% 40%; /* IE 9 */
  -webkit-transform-origin: 50% 40%; /* Chrome, Safari, Opera */
  transform-origin: 50% 40%;
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% {
    transform:rotate(0deg);
    }
  100% {
    transform:rotate(360deg);
  }
}
